<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AhoCorasick" version="1.1.5577.36525" targetFramework="net45" />
  <package id="AngleSharp" version="0.8.9" targetFramework="net45" />
  <package id="AutoLink" version="1.0.5595.30240" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>